@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 100%;
  /* background-color: #f5f8ff; */
  background: #f5f8ff url("/img.png") no-repeat;
  background-size: 20%;
  background-position: center bottom;
  min-height: 100vh;
}

.container {
  @apply w-full max-w-3xl mx-auto;
}
